.skill-filter {
  margin-block-end: var(--size-7);

  h3 {
    margin-block-end: var(--size-3);
    font-size: var(--font-size-1);
    font-weight: var(--font-weight-semi-bold);
  }
}

.skill-filter__buttons {
  display: flex;
  flex-wrap: wrap;
  gap: var(--size-3);
}

.skill-filter__button {
  padding: var(--size-1) var(--size-2);
  border-width: var(--size-px-01);
  border-style: solid;
  border-color: var(--color-dxw-blue-light);
  border-radius: var(--size-px-1);
  background-color: transparent;
  color: var(--color-dxw-blue-mid);
  font-size: var(--font-size-0);
  font-weight: var(--font-weight-semi-bold);
  cursor: pointer;
  transition: all 0.2s ease;

  &:hover {
    background-color: var(--color-dxw-blue-light);
    color: var(--color-dxw-navy);
  }

  &:focus {
    outline: 2px solid var(--color-dxw-blue-mid);
    outline-offset: var(--size-px-02);
  }
}

.skill-filter__button--active {
  background-color: var(--color-dxw-blue-mid);
  color: var(--color-dxw-ivory);
  border-color: var(--color-dxw-blue-mid);

  &:hover {
    background-color: var(--color-dxw-blue);
    color: var(--color-dxw-ivory);
    border-color: var(--color-dxw-blue);
  }
}
