---
layout: layouts/doc.njk
title: Skills
permalink: "/skills/index.html"
---

<ul class="skill-list">
  {% for skill in skills %}
  <li>
    <a href="/skills/{{ skill.slug }}/">{{ skill.name }}</a>
    <p>{{ skill.description }}</p>
  </li>
  {% endfor %}
</ul>
