<ul>
{% for item in items %}
  <li class="changelog-entry">
    <h2 class="h4-style"><a href="{{ item.url }}">{{ item.data.date | readableDate }}</a></h2>
    {{ item.page.excerpt | safe }}
  </li>
{% endfor %}
</ul>
