<ul class="item-list guide-list">
{% for item in items %}
  <li class="item-list--item guide-list--item">
    <h2 class="h4-style"><a href="{{ item.url }}">{{ item.data.title }}</a></h2>
    {{ item.data.page.excerpt | markdown | safe }}
  </li>
{% endfor %}
</ul>
