<link rel="icon" href="/assets/images/cropped-icon-32x32.jpg" sizes="32x32" />
<link rel="icon" href="/assets/images/cropped-icon-192x192.jpg" sizes="192x192" />
<link rel="apple-touch-icon" href="/assets/images/cropped-icon-180x180.jpg" />
<meta name="msapplication-TileImage" content="/assets/images/cropped-icon-270x270.jpg" />
