<footer class="footer">
  <div class="footer__content">
    <h2>We create services that improve lives.</h2>
    <p>Built by <a href="https://www.dxw.com/" target="_blank" rel="noopener noreferrer">dxw</a>.</p>
  </div>
  <img class="footer__logo" src="/assets/images/the-d-blue-light.svg" alt="" aria-hidden="true" />
</footer>
